[project]
	description = RingoJS IO support in Google App Engine (GAE)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kyungwook, Park (kyungw00k)
[access "refs/for/refs/*"]
	read = group user/Kyungwook, Park (kyungw00k)
	push = group user/Kyungwook, Park (kyungw00k)
	label-Code-Review = -2..+2 group user/Kyungwook, Park (kyungw00k)
	label-Verified = -1..+1 group user/Kyungwook, Park (kyungw00k)
	rebase = group user/Kyungwook, Park (kyungw00k)
	removeReviewer = group user/Kyungwook, Park (kyungw00k)
	submit = group user/Kyungwook, Park (kyungw00k)
[access "refs/heads/*"]
	read = group user/Kyungwook, Park (kyungw00k)
	create = group user/Kyungwook, Park (kyungw00k)
	push = +force group user/Kyungwook, Park (kyungw00k)
	pushMerge = group user/Kyungwook, Park (kyungw00k)
[access "refs/tags/*"]
	push = +force group user/Kyungwook, Park (kyungw00k)
	pushTag = group user/Kyungwook, Park (kyungw00k)
	pushSignedTag = group user/Kyungwook, Park (kyungw00k)
